body {
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.anim--effect-3 .page:nth-child(2) {
  background: #232323;
}
.page {
  background-color: #222;
}
.page .quote {
  min-width: 600px;
  font-size: 1.1em;
  padding: 0;
  background-color: #fff;
  color: #fff;
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -o-box-pack: initial;
  -ms-flex-pack: initial;
  -webkit-justify-content: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -moz-box-align: initial;
  -o-box-align: initial;
  -ms-flex-align: initial;
  -webkit-align-items: initial;
  align-items: initial;
  display: block;
}
.page .quote .title {
  width: 80%;
  display: inline-block;
  text-transform: uppercase;
}
.page .quote .title h1 {
  font-family: 'Oswald', sans-serif;
  color: #1e224b;
}
.page .quote .date {
  float: right;
  width: 20%;
  display: inline-block;
  margin: 0.67em 0;
}
.page .quote .date .day {
  font-size: 3.4em;
  float: left;
  font-weight: bold;
  color: #b2f0f0;
  line-height: 0.8em;
}
.page .quote .date .month {
  font-size: 1.1em;
  letter-spacing: 0.7em;
  color: rgba(102,102,102,0.4);
}
.page .quote .date .year {
  font-size: 1.2em;
  color: #222;
  letter-spacing: 0.5em;
}
.page .quote .info {
  color: #4a4a4a;
  font-size: 0.8em;
  margin: 15px 0;
}
.page .quote a {
  margin: 15px 0px;
  color: #000;
}
.page .quote img {
  width: 100%;
}
.page .quote #suicide-count .count {
  float: left;
  margin: 10px 10px;
}
.page .quote #suicide-count .count .numb {
  color: #414b56;
  font-size: 22px;
  border: 1px solid #d8d8d8;
}
.page .quote #suicide-count .count .nombre {
  float: left;
  color: rgba(68,68,68,0.267);
  font-size: 11px;
  text-align: center;
}
.page footer {
  color: #f00;
}
.page footer .btn {
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  color: #fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
  background: #ff3019; /* Old browsers */
  background: -moz--webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -moz--moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -moz--o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -moz--ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -moz-linear-gradient(to bottom, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
  background: -webkit--webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit--moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit--o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit--ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-linear-gradient(to bottom, #ff3019 0%, #cf0404 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}
.page footer a {
  color: #fff !important;
}
.icon {
  stroke: #fff;
}
p {
  text-shadow: 2px 2px #000;
  color: #fff;
}
.left {
  background-image: url("https://i.ytimg.com/vi/5AwUdTIbA8I/maxresdefault.jpg");
  height: 200px;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 40%;
  float: left;
  display: inline-block;
  background-color: #f00;
  height: 100%;
}
.right {
  padding: 60px;
  display: inline-block;
  width: 60%;
}
#suicide {
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.pagenav__button--top,
.pagenav__button--left,
.pagenav__button--bottom,
.pagenav__button--right,
.pagenav__button--cornertopright,
.pagenav__button--cornerbottomleft {
  display: none;
}
