@import 'nib'
body
	color #fff
	font-family: 'Lato', sans-serif;
.anim--effect-3 .page:nth-child(2)
	background: #232323
.page
	background-color #222
	.quote
		min-width 600px
		font-size 1.1em
		padding 0
		background-color rgba(255, 255, 255, 1)
		color #fff
		// text-shadow: 2px 2px #000;
		justify-content initial
		align-items initial
		display block
		.title
			width 80%
			display inline-block
			text-transform uppercase
			h1
				font-family: 'Oswald', sans-serif;
				color #1E224B
		.date
			float right
			width 20%
			display inline-block
			margin: 0.67em 0;
			.day
				font-size 2.4em
				float left
				font-weight bold
				color #B2F0F0
				line-height 0.8em
			.month
				font-size 1.1em
				letter-spacing 0.7em
				color #6666
			.year
				font-size 1.2em
				color #222
				letter-spacing 0.9em
		.info
			color #4a4a4a
		a
			margin 15px 0px
			color black
		img
			width 100%
		#suicide-count
			color #4444
			font-size 11px
			span
				font-size 22px
	footer
		color red
.icon
	stroke #fff
p
	text-shadow: 2px 2px #000;
	color #fff

.left
	background-image url(https://i.ytimg.com/vi/5AwUdTIbA8I/maxresdefault.jpg)
	height: 200px;
	background-position: bottom;
	width 40%
	float left
	display inline-block
	background-color red
	height 100%
.right
	padding 60px
	display inline-block
	width 60%
	height: 200px;
	float left
	height 100%

#suicide
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover	
	// background-image url(https://i.ytimg.com/vi/5AwUdTIbA8I/maxresdefault.jpg)
	
	// background-image url(https://images.unsplash.com/photo-1463003416389-296a1ad37ca0?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1199&h=899&q=80)
	
.pagenav__button--top, .pagenav__button--left, .pagenav__button--bottom, .pagenav__button--right, .pagenav__button--cornertopright, .pagenav__button--cornerbottomleft	
	display none