body {
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.anim--effect-3 .page:nth-child(2) {
  background: #232323;
}
.page {
  background-color: #222;
}
.page .quote {
  min-width: 600px;
  font-size: 1.1em;
  padding: 0;
  background-color: #fff;
  color: #fff;
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -o-box-pack: initial;
  -ms-flex-pack: initial;
  -webkit-justify-content: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -moz-box-align: initial;
  -o-box-align: initial;
  -ms-flex-align: initial;
  -webkit-align-items: initial;
  align-items: initial;
  display: block;
}
.page .quote .title {
  width: 80%;
  display: inline-block;
  text-transform: uppercase;
}
.page .quote .title h1 {
  font-family: 'Oswald', sans-serif;
  color: #1e224b;
}
.page .quote .date {
  float: right;
  width: 20%;
  display: inline-block;
  margin: 0.67em 0;
}
.page .quote .date .day {
  font-size: 2.4em;
  float: left;
  font-weight: bold;
  color: #b2f0f0;
  line-height: 0.8em;
}
.page .quote .date .month {
  font-size: 1.1em;
  letter-spacing: 0.7em;
  color: rgba(102,102,102,0.4);
}
.page .quote .date .year {
  font-size: 1.2em;
  color: #222;
  letter-spacing: 0.9em;
}
.page .quote .info {
  color: #4a4a4a;
}
.page .quote a {
  margin: 15px 0px;
  color: #000;
}
.page .quote img {
  width: 100%;
}
.page .quote #suicide-count {
  color: rgba(68,68,68,0.267);
  font-size: 11px;
}
.page .quote #suicide-count span {
  font-size: 22px;
}
.page footer {
  color: #f00;
}
.icon {
  stroke: #fff;
}
p {
  text-shadow: 2px 2px #000;
  color: #fff;
}
.left {
  background-image: url("https://i.ytimg.com/vi/5AwUdTIbA8I/maxresdefault.jpg");
  height: 200px;
  background-position: bottom;
  width: 40%;
  float: left;
  display: inline-block;
  background-color: #f00;
  height: 100%;
}
.right {
  padding: 60px;
  display: inline-block;
  width: 60%;
  height: 200px;
  float: left;
  height: 100%;
}
#suicide {
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.pagenav__button--top,
.pagenav__button--left,
.pagenav__button--bottom,
.pagenav__button--right,
.pagenav__button--cornertopright,
.pagenav__button--cornerbottomleft {
  display: none;
}
